@import url(../../../styles.scss);
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

@media (max-width: 599px) {
  .sidenav {
    width: 100%;
  }
}

::ng-deep .mdc-list-item__primary-text {
  color: white !important;
}

::ng-deep .customize button  {
  background: white !important;
  color: black;
}
.mat-accordion>.mat-expansion-panel-spacing:first-child, .mat-accordion>*:first-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing{
  background: var(--green-good) !important;
}

::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: green !important;
}

::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: green !important;
}


