@import url(../../../styles.scss);
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

@media (max-width: 599px) {
  .sidenav {
    width: 100%;
  }
}

::ng-deep .mdc-list-item__primary-text {
  color: white !important;
}
