<app-menu></app-menu>

<section class="vh-100">
<!--   <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <h1 style="font-size: 46px; line-height: 60px;">
        </h1>
        <h3 style="font-size: 28px; color: #717171;">
        </h3>
      </div>
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../../../assets/landing.jpg" class="img-fluid w-100 h-100" alt="logo PapApp">
      </div>
    </div>
  </div>
  <div style="position: relative; bottom: -5px;"
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-success">
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2023. All rights reserved.
    </div>

  </div> -->
</section>


<app-footer></app-footer>
