<main style="display: flex; align-items: center; justify-content: center;">
  <form action="">
    <h1 style="text-align: center;">BIENVENIDO</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Nombre del cultivo</mat-label>
      <input matInput placeholder="Ej 3 hectarias de PapApp">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Seleccionar mes de inicio del cultivo</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Terreno a cultivar</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <section >
      <h5>¿Tiene maquinaria propia</h5>
      <div class="section">
        <mat-checkbox class="example-margin">SI</mat-checkbox>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <mat-checkbox class="example-margin" [disabled]="false">NO</mat-checkbox>
      </div>

    </section>
    <br><br><br><br><br><br><br>
    <div class="section">
      <button mat-raised-button class="btn-save" (click)="nextPage()">Siguiente</button>
    </div>
  </form>
</main>
