* {
  background-color: var(--green-light);
}

main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px;
  margin-top: 10%;
}

.circle-green-one {
  height: 225px;
  width: 225px;
  background-color: var(--circle-background-theree);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 289px;
}

.circle-green-two {
  height: 325px;
  width: 325px;
  background-color: var(--circle-background-one);
  border-radius: 50%;
  display: inline-block;

}

.img-papa {
  position: relative;
  width: 39%;
  background: transparent;
  left: 293px;
  bottom: 217px;
}

/* //Pantallas grandes (desktops de menos de 1200px) */
@media (max-width: 1199.98px) {

}

/* //Pantallas medianas (tablets de menos de 992px) */
@media (max-width: 991.98px) {

}

/* //Pantallas pequeñas (móviles en landscape de menos de 768px) */
@media (max-width: 767.98px) {

}

/* //Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
@media (max-width: 575.98px) {
  .circle-green-one {
    display: none;
  }

  .circle-green-two {
    display: none;

  }

  .img-papa {
    position: relative;
    width: 159%;
    background: transparent;
    left: 93px;
    top: 157px;
  }
}
