main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px;
  margin-top: -12%;

}

.circle-green-one {
  height: 225px;
  width: 225px;
  background-color: var(--circle-background-theree);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 289px;
}

.circle-green-two {
  height: 325px;
  width: 325px;
  background-color: var(--circle-background-one);
  border-radius: 50%;
  display: inline-block;

}

.img-papa {
  position: relative;
  width: 39%;
  background: transparent;
}

.btn-register{
  background-color: var(--green-good);
  color: white;
  width: 20%;
}
.btn-login{
  background-color: var(--green-good);
  color: white;
  width: 100%;
  text-align: center !important;
}



/* //Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
@media (min-width: 260px) and (max-width: 768px)  {
  .circle-green-one {
    display: none;
  }

  .circle-green-two {
    display: none;

  }

  .img-papa {
    display: none;
    width: 0px !important;;
  }
  main {
    margin-top: 20%;


  }

  .btn-register{
    background-color: var(--green-good);
    color: white;
    width: 425px !important;
  }
}
