<main style="background-color: var( --green-light);">
  <div style="background-color: var( --green-light); margin-left: 65px;">
    <div style="display: flex;  align-items: center; justify-content: center;">

      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <mat-card style="background-color: var(--green-light);">
          <mat-card-header>
            <mat-card-title style="margin: 0 auto;">Iniciar sesión</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <input matInput type="text" placeholder="Nombre de usuario" name="username" required
                formGroupName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            </mat-form-field>
            <mat-error>
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <b *ngIf="form.get('username')?.hasError('required')">Usuario es requerido</b>
                <b *ngIf="form.get('username')?.hasError('email')">Usuario debe ser tipo email por ej: PapApp@admin.com</b>
              </div>
            </mat-error>

            <br>
            <mat-form-field>
              <input matInput type="password" placeholder="Contraseña" required formGroupName="password">
            </mat-form-field>
            <mat-error>
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <b *ngIf="form.get('password')?.hasError('required')">Contraseña es requerida</b>
                <b *ngIf="form.get('password')?.hasError('pattern')">Contraseña no cumple con almenos tenga al menos una letra mayúscula, una letra minúscula y un número, puedes usar </b>
              </div>
            </mat-error>
            <br>
            <button mat-raised-button color="primary" class="btn-login"
              style="margin: 0 auto !important; " type="submit" >Iniciar sesión</button>
            <br>
            <div [class.active]="isNameUserInvalid">
              <mat-error>
                <!--      <strong *ngIf="form.get('username')?.invalid || form.get('password')?.invalid || isNameUserInvalid == true">Este campo es requerido</strong> -->
              </mat-error>
            </div>
          </mat-card-content>
        </mat-card>
      </form>




    </div>
    <br>
    <br>
    <br>
    <div>

    </div>
    <div style="display: flex;
    justify-content: center;">
      <button mat-raised-button color="primary" (click)="onRegister()" class="btn-register"
        matTooltip="Si no estas registrado te puedes registrar aqui">Registrarme </button>
    </div>

  </div>
  <div style="  width: 96%;">


    <img src="./../../../assets/potatoes-2795_1920 1.png" alt="Papa cruda" class="img-papa">
  </div>

</main>
