<main style="background-color: var( --green-light);">
  <div style="background-color: var( --green-light); margin-left: 65px;">
    <h1>Bienvenido a PapApp Cost !</h1>
    <br>
    <h3>¿Quienes Somos? </h3>
    <span>Somos dos estudiantes de Ingenieria de Software de la Universidad Manuela Betran, <br> que como vieron una
      necesidad en los campos Colombianos 🇨🇴 <br> en especial en el coste y produccion de papa 🥔<br> y optamos hacer
      nuestro proyecto de grado en este proyecto llamado <i>PapApp Cost</i> </span>
    <br>
   <div>
<button mat-raised-button color="primary" (click)="onLogin()" style="background-color: #012D04;
      color: white;"
       matTooltip="Info about the action"
       aria-label="Button that displays a tooltip when focused or hovered over">Iniciar Sesion </button>
       &nbsp;
       <button mat-raised-button color="primary" (click)="onLogin()" style="background-color: #012D04;
       color: white;"
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">Registrarme </button>
   </div>
  </div>
  <div style="  width: 96%;">


    <img src="./../../../assets/potatoes-2795_1920 1.png" alt="Papa cruda" class="img-papa">
  </div>
</main>
