<mat-toolbar class="header-toolbar">
  <mat-toolbar-row  cols="3">
    <div class="container-fluid">

          <a href="index.html">
             <img src="../../../assets/Logo1.png" alt="logo homePapApp Cost" style="height: 120px;
             position: relative;
             top: 37px;" width="100%" height="auto"></a>
        </div>

          <!--MENU ESCRITORIO-->
          <nav>
            <a mat-button routerLink="/">Quienes Somos</a>
            <a mat-button routerLink="/">Beneficios</a>
            <a mat-button routerLink="/">Clientes</a>
            <a mat-button routerLink="/">Contacto</a>
          </nav>


            <!--MENU ESCRITORIO-->
            <nav>
              <button mat-raised-button color="primary">Iniciar Sesion </button>
              &nbsp;
              <button mat-raised-button color="primary">Registrarme</button>
            </nav>


  </mat-toolbar-row>
</mat-toolbar>


