<mat-toolbar class="header-toolbar">
  <mat-toolbar-row cols="3" style="justify-content: center;">
    <div class="container-fluid">
      <a href="index.html">
        <img src="../../../assets/papappcost.jpg" alt="logo homePapApp Cost" style="height: 120px;
             position: relative;
             top: 37px;   right: 249px;" width="100%" height="auto"></a>
    </div>

    <!--MENU ESCRITORIO-->
    <nav style="padding-top: 99px;">
      <a mat-button routerLink="/" routerLinkActive="activo">Quienes Somos</a>
      <a mat-button routerLink="/">Beneficios</a>
      <a mat-button routerLink="/">Clientes</a>
      <a mat-button routerLink="/">Contacto</a>
    </nav>


    <!--MENU ESCRITORIO-->
    <nav style="padding-top: 99px;">
      <button mat-raised-button color="primary" style="background-color: #012D04;
      color: white;">Iniciar Sesion </button>
      &nbsp;
      <button mat-raised-button color="primary" style="background-color: #012D04;
      color: white;">Registrarme</button>
    </nav>

  </mat-toolbar-row>
</mat-toolbar>
