nav > a {
  padding: 5px;
  text-decoration: none;
}
 a.active:hover {
  background-color: #a6ff00;
}
.header-row{
  width: 100%;
}
.header-toolbar {
  height: 130px;
  background-color: #2D6514;
}
a {
  margin-right: 25px;
  color: white;
}
.burger-menu{
  color: rgb(0, 0, 0);
  float: right;
}


@media (min-width: 260px) and (max-width: 768px) {
  .header-row{
    width: 50%;
  }
  .burger-menu{
    color: rgb(255, 255, 255);
  }
  .desktop-menu{
    color: #fff;
    display: none;
  }
  .header-toolbar {
    width: 389%;
    height: 130px;
    background-color: #2D6514;
  }

}

@media (min-width: 800px) and (max-width: 2400px) {
  .desktop-menu{
    color: #fff;
  }
  .burger-menu{
    color: rgba(0,0, 0, 0.0);
    display: none;
    float: right;
  }
}


.activo {
  background-color: var(--green-dark)
}

.activo:hover {
  background-color: var(--green-good)
}
.activo a {
  color: green;
}

button{
  background: #012D04;
  color: white;
}
