<mat-toolbar class="header-toolbar">
  <mat-toolbar-row >
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <a href="index.html">
             <img src="../../../assets/Logo1.png" alt="logo homePapApp Cost" style="height: 130px;" width="100%" height="auto"></a>
        </div>

        <div class="col-4">
          <!--MENU ESCRITORIO-->
          <nav>
            <a  >sdsd</a>
            <a mat-button routerLink="/">sdsd</a>
            <a mat-button routerLink="/">asasd</a>
            <a mat-button routerLink="/">dcd</a>
          </nav>
        </div>

          <div class="col-4">
            <!--MENU ESCRITORIO-->
            <nav>
              <a  >sdsd</a>
              <a mat-button routerLink="/">sdsd</a>
              <a mat-button routerLink="/">asasd</a>
              <a mat-button routerLink="/">dcd</a>
            </nav>
          </div>
        </div>
      </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
