
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: green !important;
}

::ng-deep .mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
}

::ng-deep .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: green !important;
}

::ng-deep .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: var(--green-good) !important;
}
.mat-mdc-form-field{
 display: block;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color: red;
}

::ng-deep .mat-radio-button:not(.mat-accent) .mat-radio-outer-circle {
  border-color: blue;
}

/* Cambiar el color del texto de la etiqueta del formulario */
mat-label {
  color: var(--green-dark);
}


/* Cambiar el color del borde del formulario cuando está enfocado */
.mat-form-field-appearance-fill .mat-form-field-outline {
  border-color: var(--blue);
}

/* /* Cambiar el color del borde del formulario cuando no está enfocado
.mat-form-field-appearance-fill.mat-focused .mat-form-field-outline {
  border-color: var(--green-good);
} */

/* Cambiar el color del texto de las opciones del select */
mat-option span {
  color: var(--gray-dark);
}

/* Cambiar el color de fondo de las opciones del select cuando se seleccionan */
.mat-option.mat-selected:not(.mat-option-disabled) {
  background-color: var(--green-light);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-background {
  background-color: green !important; /*cambia el color de fondo a transparente*/
}


