<app-menu></app-menu>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <form action="">
        <div class="row">
          <div class="col col-2"></div>
          <div class="col col-8">



            <mat-stepper [linear]="isLinear" #stepper>
              <mat-step [stepControl]="firstFormGroup">
                <form >
                  <ng-template matStepLabel>Informacion del cultivo</ng-template>
                  <mat-form-field appearance="fill">
                    <mat-card>
                      <mat-card-title class="row p-4 d-flex justify-content-center align-items-center" style="text-align: center; margin-bottom: 48px; ">
                        <h1>
                          BIENVENID@ {{name[0]?.name_user | uppercase}}
                        </h1>
                        <div class="col-md-9 col-lg-6 col-xl-5 ">
                          <img src="../../../assets/papappcost.jpg" class="img-fluid" alt="logo PapApp">
                        </div>
                      </mat-card-title>
                        <mat-card-content class="p-5">
                          <div class="row">
                            <div class="col col-12">
                              <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Nombre del cultivo</mat-label>
                                <input matInput placeholder="Ej 3 hectarias de PapApp">
                              </mat-form-field>
                            </div>
                            <div class="col col-12">
                              <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Seleccionar mes de inicio del cultivo</mat-label>
                                <input matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </div>
                            <div class="col col-12">
                              <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Terreno a cultivar</mat-label>
                                <mat-select>
                                  <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col col-12">
                              <mat-radio-group>
                                <mat-radio-button class="m-3" value="after">SI</mat-radio-button>
                                <mat-radio-button class="m-3" value="before">NO</mat-radio-button>
                              </mat-radio-group>
                            </div>
                            <div class="col col-12">
                              <button matStepperNext style="height: 48px;" class="mt-5 w-100 btn btn-success" (click)="nextPage() ">Siguiente</button>
                            </div>
                          </div>
                      </mat-card-content>
                    </mat-card>
                  </mat-form-field>
                  <div>
                   <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup" label="Selecciona las actividades de producción">
                <form >
                  <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                           required>
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
              </mat-step>
            </mat-stepper>
          </div>
          <div class="col col-2"></div>
        </div>

      </form>

    </div>
  </div>
  <app-footer></app-footer>
</section>
