.circle-green-one {
  height: 225px;
  width: 225px;
  background-color: var(--circle-background-theree);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 99px;
  top: 43px;
}
.circle-green-two {
  height: 325px;
  width: 325px;
  background-color: var(--circle-background-one);
  border-radius: 50%;
  display: inline-block;

}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 7%;
}
.one {
  grid-column: 2 / 2;
  grid-row: 1;
}
.two {
  grid-column: 2 / 2;
  grid-row: 1;
}
