<div class="container ">
  <div class="row" style="padding-left: 126px;">
    <h1>Contactenos</h1>
    <div class="form grid">
      <form style="display: flex;
      flex-direction: column;">
        <mat-form-field >
          <mat-label>Nombres</mat-label>
          <input matInput placeholder="Ingresa Nombres">
        </mat-form-field>

        <mat-form-field >
          <mat-label>Observaciones</mat-label>
          <textarea matInput placeholder="Siento que pueden mejorar....."></textarea>
        </mat-form-field>
      </form>
      <div class="img">
        <div style="  width: 96%;">
          <span class="circle-green-one"></span>
          <span class="circle-green-two"></span>

          <img src="./../../../assets/call-center.png" alt="call-center" class="img-papa">
        </div>
      </div>
    </div>


  </div>
</div>
