<h1 mat-dialog-title style="text-align: center;" class="title-register">Registrate</h1>
<div mat-dialog-content>
  <p class="register-p">Llena los datos del formulario para Registrarte </p>
  <form style="text-align: center;">
    <mat-form-field appearance="fill" style="width: 400px !important">
      <mat-label>Correo electronico</mat-label>
      <input matInput formControlName="email" placeholder="Ingresa Correo Electronico">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 400px !important">
      <mat-label>Confirmar Correo electronico</mat-label>
      <input matInput  formControlName="email" placeholder="Ingresa Correo Electronico">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" style="width: 400px !important">
      <mat-label>Contraeña</mat-label>
      <input matInput  formControlName="email" type="password" placeholder="Ingresa Correo Electronico">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" style="width: 400px !important">
      <mat-label>Confirmar Contraseña</mat-label>
      <input matInput  formControlName="email" type="password" placeholder="Ingresa Correo Electronico">
    </mat-form-field>

    <p class="register-p">Ubicacion </p>
    <mat-form-field appearance="fill">
      <mat-label>Departamento</mat-label>
      <mat-select>
        <mat-option *ngFor="let departament of Departamentos" [value]="departament.value">
          {{departament.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    &nbsp;
    &nbsp;

    <mat-form-field appearance="fill">
      <mat-label>Municipio</mat-label>
      <mat-select >
        <mat-option >

        </mat-option>
      </mat-select>
    </mat-form-field>

    <p class="register-p">Datos Estadisticos </p>
    <div class="container" style="    display: flex;
    flex-direction: column;
    width: 89%;
    margin: 0 auto;">
      <mat-form-field appearance="fill">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      &nbsp;
      &nbsp;

      <mat-form-field appearance="fill">
        <mat-label>Nivel de estudios</mat-label>
        <mat-select >
          <mat-option >

          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

</div>
<div mat-dialog-actions style="display: flex;
justify-content: center;
">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button>Registrarme</button>
</div>
