<h1 mat-dialog-title style="text-align: center; padding: 3%;" class="title-register">Registrate</h1>
<div mat-dialog-content style="padding: 4%;">
  <form style="text-align: center;" [formGroup]="myForm">
    <div class="col-12">
      <p class="register-p">Llena los datos del formulario para Registrarte </p>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Nombre completo</mat-label>
          <input matInput formControlName="name_user" placeholder="Nombre completo">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Apodo</mat-label>
          <input matInput formControlName="nickname_user" placeholder="Apodo">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Correo electronico</mat-label>
          <input matInput formControlName="email_user" placeholder="Ingresa Correo Electronico">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Confirmar Correo electronico</mat-label>
          <input matInput formControlName="email_user_confirm" placeholder="Ingresa Correo Electronico">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Contraeña</mat-label>
          <input matInput formControlName="password_user" [type]="hide ? 'password' : 'text'" placeholder="Ingresa Correo Electronico">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Confirmar Contraseña</mat-label>
          <input matInput formControlName="password_user_confirm" [type]="hide ? 'password' : 'text'" placeholder="Ingresa Correo Electronico">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-12">
        <p class="register-p">Ubicacion </p>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Departamento</mat-label>
          <mat-select formControlName="province_user" (selectionChange)="lookForDepartamentos($event)" [(value)]="selectedMunicipio">
            <mat-option *ngFor="let item of departamentos" [value]="item">
              <span style="color: black;">
                {{item}}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Municipio</mat-label>
          <mat-select formControlName="city_user" >
            <mat-option *ngFor="let muni of municipios" [value]="muni.municipio">
              <span style="color: black;">
                {{muni.municipio}}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <p class="register-p">Datos Estadisticos </p>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birth_date_user">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Nivel de estudios</mat-label>
          <mat-select formControlName="level_studies_user">
            <mat-option *ngFor="let item of niveles" [value]="item?.id">
              {{item?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>

</div>
<div mat-dialog-actions style="display: flex;justify-content: center;padding: 3%;">
  <div class="row col-12">
    <div class="col-6">
      <button mat-button-raised class="btn btn-sucess" style="height: 48px; width: 100%;" (click)="onNoClick()">Cancelar</button>
    </div>
    <div class="col-6">
      <button mat-button-raised class="btn btn-sucess" (click)="register()" style="height: 48px; width: 100%;" >Registrarme</button>
    </div>
  </div>
</div>
