/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
margin: 0px 0px 0px 0px;
}

:root {
  --green-dark: #2B580C;
  --green-good: #639A67;
  --green-light: #D8EBB5;
  --yellow: #D9BF77;
}
