nav>a {
  padding: 5px;
  text-decoration: none;
}

a.active:hover {
  background-color: #a6ff00;
}

.header-row {
  width: 100%;
}

.header-toolbar {
  height: 130px;
  background-color: #2D6514;
}

a {
  margin-right: 25px;
  color: white;
}

.burger-menu {
  color: rgb(0, 0, 0);
  float: right;
}


@media (min-width: 260px) and (max-width: 768px) {
  .header-row {
    width: 50%;
  }

  .burger-menu {
    color: rgb(255, 255, 255);
  }

  .desktop-menu {
    color: #fff;
    display: none;
  }

  .header-toolbar {
    background-color: #2D6514;
    width: auto;
    position: absolute;
    top: 158px;
  }
  .fecha{
    font-size: 24px !important;
  }
  .img-resposive{
    width: 150px;
  }
  .text-responsive{
    text-align: center;
    font-size: 15px;
  }
}

@media (min-width: 800px) and (max-width: 2400px) {
  .desktop-menu {
    color: #fff;
  }

  .burger-menu {
    color: rgba(0, 0, 0, 0.0);
    display: none;
    float: right;
  }
}


.activo {
  background-color: #ccc;
}

.activo:hover {
  background-color: var(--green-light)
}

.activo a {
  color: green;
}

.header-toolbar {

  height: 130px;
  background-color: #2D6514;
}

nav>a {
  padding: 5px;
  text-decoration: none;
}

a.active:hover {
  background-color: #a6ff00;
}

.header-row {
  width: 100%;
}

.header-toolbar {

  background-color: #2D6514;
  display: flex;
}

a {
  margin-right: 25px;
  color: white;
}

.burger-menu {
  color: rgb(0, 0, 0);
  float: right;
}


@media (min-width: 260px) and (max-width: 768px) {
  .header-row {
    width: 50%;
  }

  .header-toolbar {
    width: 100%;
    position: absolute;

  }

  .burger-menu {
    color: rgb(255, 255, 255);
  }

  .desktop-menu {
    color: #fff;
    display: none;
  }
}

@media (min-width: 800px) and (max-width: 2400px) {
  .desktop-menu {
    color: #fff;
  }

  .burger-menu {
    color: rgba(0, 0, 0, 0.0);
    display: none;
    float: right;
  }
}


.activo {
  background-color: #012D04;
}

.activo:hover {
  background-color: var(--green-light)
}

.activo a {
  color: var(--green-good);
}

.fecha {
  color: white;
  margin-top: 69px;
  font-size: 49px;
}
