<footer style="  position: absolute;
bottom: -195px;
    width: 100%;

 ">

  <mat-toolbar class="header-toolbar" >
    <mat-toolbar-row cols="2" style="justify-content: center;">
      <div class="container-fluid">
        <a href="index.html">
          <img src="../../../assets/Logo1.png" alt="logo homePapApp Cost" style="height: 120px;
               position: relative;
               top: 37px;" width="100%" height="auto" class="img-resposive"></a>
      </div>


      <div class="fecha">
        <h4 style="text-align: center;" class="text-responsive">La fecha y hora del dia de hoy es:</h4>
        <br>
        <i>{{fecha | date:'dd-MM.yyyy HH:mm:ss'}}</i>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
</footer>
